/* Estilo geral do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #0e0d0d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
}

/* Contêiner centralizado para o conteúdo */
.container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background: rgb(49, 186, 240);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do contêiner */
}

/* Estilo do cabeçalho */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para a lista de recomendações */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background: #e9ecef;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}
